{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" action="#">
        <div class="row gtr-uniform">
            <input type='hidden' id="csrftoken" name='csrftoken' value='{{ csrf_token }}' />
            <div class="col-6 col-12-xsmall">
                <input style="margin-top:10px; width:100%" type="number" id="number"  placeholder="Enter your number">
            </div>


            <!-- Break -->
            <div class="col-12">
                <textarea name="demo-message" id="message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div id="msg">

            </div>
            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    <li><input type="button" value="Submit"  onclick="submitform()"  class="primary"></li>

                </ul>
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
<script type="text/javascript">

    function submitform(){
    $("#msg").empty();

        var number = $('#number').val();
        var message = $('#message').val();

        if (number && message) {
         $.ajax({
                data : {
                'number':number,
                'message': message

            },
               type : 'get',

                success: function(response) {
                console.log(response.success);
                if (response.success == true){

                        $("#msg").append("<p style='color:red' >data saved..</p>");
                    } else{

                    $("#msg").append("<p style='color:red' >data not saved please try again..</p>");

                    }

                }
            });
            }
            else{
            $("#msg").append("<p style='color:red' >all fields required</p>");
            }
    }

</script>
{% endblock %}